.panel.panel-default
  .panel-heading
    %h3.panel-title User Panel

  .panel-body
    .row
      .col-md-4
        .panel.panel-primary
          .panel-heading
            .row
              .col-xs-3
                %i.glyphicon.glyphicon-comment.header-icon
              .col-xs-9.text-right
                .header-icon
                  = current_user.posts.count

          .panel-footer
            %span.pull-left View your posts
            %span.pull-right
              %i.glyphicon.glyphicon-arrow-right
            .clearfix

      .col-md-4
        .panel.panel-success
          .panel-heading
            .row
              .col-xs-3
                %i.glyphicon.glyphicon-envelope.header-icon
              .col-xs-9.text-right
                .header-icon
                  21
          .panel-footer
            %span.pull-left View Inbox
            %span.pull-right
              %i.glyphicon.glyphicon-arrow-right
            .clearfix

      .col-md-4
        .panel.panel-info
          .panel-heading
            .row
              .col-xs-3
                %i.glyphicon.glyphicon-user.header-icon
              .col-xs-9.text-right
                .header-icon
                  57
          %a{ href: user_path(current_user) }
            .panel-footer
              %span.pull-left View your profile
              %span.pull-right
                %i.glyphicon.glyphicon-arrow-right
              .clearfix