
- @categories.each do |category|
  .panel.panel-default
    .panel-heading
      %h3.panel-title= link_to category.name, category_path(category)
    .panel-body
      %p
        Topics:
        = category.posts.count
