%h1= @category.name
%hr

- @category.posts.each do |post|
  %h2= link_to post.title, post_path(post)

  %p
    Replies:
    = post.comments.count
  %p
    Latest reply by
    - @comment = post.comments.last
    = @comment.user.username

  %hr